*{
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: url("https://wallpapers.com/images/hd/rick-and-morty-under-the-sea-ocidh9za5jy6pao4.jpg");
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


